* {
    box-sizing: border-box;
  }
  
  #root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
  
  /* body {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
   */
  /* .container {
    margin: 30px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-content: center;
    align-items: flex-start;
  } */
  /* style={background:#198754} */
  .card-body {
    flex: 1 1 auto;
    display: flex;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


  
  h1 {
    letter-spacing: 1px;
    margin: 0;
  }
  
  h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
  }
  
  h4 {
    margin: 0;
    text-transform: uppercase;
  }
  
  .inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .inc-exp-container > div {
    flex: 1;
    text-align: center;
  }
  
  .border-r{
    border-right: 1px solid #dedede;
  }
  
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  /* .money.plus {
    color: #2ecc71;
  } */
  .plus {
    color: #43936c;

  }
  .minus {
    color: #cb3a31;

  }
  .total {
    color: black;

  }
  .arr-right{
    background-color: #fff4f2;
    font-size: 5.5rem;
    color: #cb3a31;
    border: 3px solid #f7dad9;
    border-radius: 15px;
  }
  .arr-left{
    background-color: #f7f7f7;
    font-size: 5.5rem;
    color: #43936c;
    border: 3px solid #c9e5d8;
    border-radius: 15px;
  }
  .arr-total{
    background-color: #f9f5ff;
    font-size: 5.5rem;
    color: #7f56d9;
    border: 3px solid #e0ccfc;
    border-radius: 15px;
  }
  /* .money.minus {
    color: #c0392b;
  } */
  
  label {
    display: inline-block;
    margin: 10px 0;
  }
  
  input[type='text'],
  input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  .btn {
    cursor: pointer;
    background-color: #538f3f;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
  }

  #btnTow {
    cursor: pointer;
    background-color: #b15353;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
  }
  
  .btn:focus,
  .delete-btn:focus {
    outline: 0;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
  }
  
  .list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
  }
  
  .list li.plus {
    border-right: 5px solid #2ecc71;
  }
  
  .list li.minus {
    border-right: 5px solid #c0392b;
  }
  
  .delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .list li:hover .delete-btn {
    opacity: 1;
  }

  @media screen and (max-widht:920px) {
    .body{
      display: flex;
    }
  }